body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

.box {
  background: white;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}
